<div class="color-scheme-1" style="padding: 24px 0 56px;">
  {% render 'pf-bought-together',
    bt_handle: 'ban-chay-nhat',
    bt_heading: '🔥 Sản phẩm bán chạy nhất',
    bt_initial: 12,
    bt_limit: 50
  %}
</div>
